body {
    background-image: url('back.jpg'); background-size: cover; 
    background-repeat: no-repeat; background-attachment: fixed;
}
h1.title {
    font-size: 35px;line-height: 36.4px; color: #D6CB3B; 
}
h1 { 
    font-family: Garamond, Baskerville, "Baskerville Old Face", 
    "Hoefler Text", "Times New Roman", serif;font-style: normal; 
    font-variant: normal; font-weight: 700; color: #D6CB3B;
    text-align: center; font-size: 40px;
}
h2 {
    font-family: Garamond, Baskerville, "Baskerville Old Face", 
    "Hoefler Text", "Times New Roman", serif;font-style: normal; 
    font-variant: normal; font-weight: 400; color: #D6CB3B;
    text-align: center; font-size: 30px;
}
h3.welcome {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", 
    "Lucida Typewriter", monospace; font-style: normal; text-align: center;
    font-variant: normal; font-weight: 700; line-height: 26.4px; color: #D6CB3B;
}
.hobbies {
    text-align: left; line-height: 45px; 
}
.description {
    text-align: right; line-height: 45px; 
}
/* typwriter animation from https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter h3 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(65, end),
      blink-caret 0.75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  /* Shake animation from w3schools */
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }